<main>
    <h2 style="margin: 1rem">Category {{categoryName}}</h2>
    <div class="row card-group" style="margin: 1rem">
        <div class="col-md-3" *ngFor="let offer of objOffers">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{offer.name}}</h5>
                    <p>Description: {{offer.description}}</p>
                    <!-- <p>User name: {{offer.user.firstName}} {{offer.user.lastName}}</p> -->
                    <p>Price: {{offer.price}}</p>
                    <a [routerLink]="['/offerdetail',offer.id]" class="btn btn-primary">Show more</a>
                </div>
            </div>
        </div>
    </div>
</main>