<!-- <main>
    <h2 style="margin: 1rem">Category {{categoryName}}</h2>
    <div class="row card-group" style="margin: 1rem">
        <div class="col-md-3" *ngFor="let offer of objOffers">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{offer.name}}</h5>
                    <p>Description: {{offer.description}}</p>
                    <p>Price: {{offer.price}}</p>
                    <a [routerLink]="['/offerdetail',offer.id]" class="btn btn-primary">Show more</a>
                </div>
            </div>
        </div>
    </div>
</main> -->
<h2 style="margin: 1rem">Category {{categoryName}}</h2>
<div class="row card-group">
    <div class="col-3" *ngFor="let offer of objOffers | paginate: { itemsPerPage: offerPerPage, currentPage: p }">
        <div class="card text-center">
            <div class="card-header">{{offer.name}}</div>
            <div class="card-body">
                <p>Description: {{offer.description}}</p>
                <!-- <p>User name: {{offer.user.firstName}} {{offer.user.lastName}}</p> -->
                <p>Price: {{offer.price}}</p>
                <p>Date: {{offer.date}}</p>
            </div>
            <div class="card-footer">
                <a [routerLink]="['/offerdetail',offer.id]" class="btn btn-primary">Show more</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
    <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Amount of offers per page</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button class="dropdown-item" (click)="setPageSize(4)">4</button>
            <button class="dropdown-item" (click)="setPageSize(8)">8</button>
            <button class="dropdown-item" (click)="setPageSize(12)">12</button>
        </div>
    </div>
</div>