
<main>
    <div *ngIf="curUser == undefined">
        <label>Login</label>
        <input type="text" [(ngModel)]="login"/>

        <label>Password</label>
        <input type="password" [(ngModel)]="password" />
        <button (click)="onAuthoriseUser()">Log in</button>
        <button (click)="onRegister()">Sign up</button>
    </div>
    <div *ngIf="curUser != undefined">
            <label>You'r already login</label>
            <button (click)=" onDeauthoriseUser()">Log Out</button>
    </div>
    
     
</main>