<main>
    <div *ngIf="curUser == undefined">
        <label>Login</label>
        <input type="text" [(ngModel)]="login" />
        <label>Password</label>
        <input type="password" [(ngModel)]="password" />
        <button type="button" class="btn btn-primary" (click)="onAuthoriseUser()">Log in</button>
        <button type="button" class="btn btn-primary" (click)="onRegister()">Sign up</button>
    </div>
    <div *ngIf="curUser != undefined">
        <label>You're already logged in</label>
        <button type="button" class="btn btn-primary" (click)="onDeauthoriseUser()">Log Out</button>
    </div>


</main>