<h2 style="margin: 1rem">My offers:</h2>
<div class="row card-group" >
  <div  class="col-8" *ngFor="let order of orders" >
   <div class="card text-center">
    <div class="card-header"> <h2>{{order.offer.name}} </h2> </div> 
    <div class="card-body">
                  <p> Number: {{order.id}}</p>
                  <p> description: {{order.offer.description}}</p>
                  <p> last Name: {{order.offer.date}}</p>
                  <p> phone: {{order.offer.date}}</p>
                  <p>Customer Name: {{order.workers[0].login}}</p>
                  <p>Customer Name: {{order.workers[0].email}}</p>
                  <p>Customer Name: {{order.workers[0].phoneNumber}}</p>
                  
          </div>
       
          </div>
          <button class="btn btn-primary"  (click)="onShow()" >Delete order</button>
          <button class="btn btn-primary"  (click)="onShow()" >Download Info</button>
          <select>
            <option>PDF</option>
            <option>CSV</option>
            <option>XLS</option>
          </select>
  </div>
   </div>