<main>
    <h2>My Info</h2>
    <div>
        <p> id: {{user.id}}</p>
        <p> name: {{user.firstName}}</p>
        <p> last Name: {{user.lastName}}</p>
        <p> phone: {{user.phoneNumber}}</p>
        <p> country: {{user.country}}</p>
        <p> rating: {{user.rating}}</p>
        <h3>My skills</h3>
    </div>
    <div>
        <ul>
            <li *ngFor="let skill of user.skills">{{skill.name}}</li>
        </ul>
    </div>
    <h3>My current offers</h3>
    <div class="row card-group" style="margin: 1rem">
        <div class="col-md-3" *ngFor="let offer of offers">
            <div class="card">
                <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                <div class="card-body">
                    <p>Offer number: {{offer.id}}</p>
                    <p> name: {{offer.name}}</p>
                    <p> price: {{offer.price}}</p>
                    <p> date: {{offer.date}}</p>
                    <p> description: {{offer.description}}</p>
                </div>
            </div>
        </div>
    </div>
</main>