.star {
    position: relative;
    display: inline-block;
    font-size: 3rem;
    color: #d3d3d3;
  }
  .full {
    color: blue;
  }
  .half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: blue;
  }

.card {
    width: 19rem;
    height: 19rem;
    margin-bottom: 2rem;
}

.card-body {
    display: flex;
    flex-direction: column;
}