<form class="container col-md-4">
    <h2>User Info</h2>

    <div class="form-group">
        <label for="firstName">First name</label>
        <input type="text" [disabled]="!isEditing" class="form-control" name="firstName" [(ngModel)]="user.firstName" />
    </div>
    <div class="form-group">
        <label for="firstName">Last name</label>
        <input type="text" [disabled]="!isEditing" class="form-control" name="lastName" [(ngModel)]="user.lastName" />
    </div>
    <div class="form-group">
        <label for="login">Login</label>
        <input type="text" class="form-control" name="login" [(ngModel)]="user.login" readonly/>
    </div>
    <div class="form-group">
        <label for="phone">Phone number</label>
        <input type="text" [disabled]="!isEditing" class="form-control" name="phone" [(ngModel)]="user.phoneNumber" placeholder="N/A" />
    </div>
    <div class="form-group">
        <label for="phone">Country</label>
        <input type="text" [disabled]="!isEditing" class="form-control" name="country" [(ngModel)]="user.country" placeholder="N/A" />
    </div>
    <div>
        <label>Rating</label>
        <ng-template #t let-fill="fill">
            <span class="star" [class.full]="fill === 100">
                <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
            </span>
        </ng-template>
        <ngb-rating [(rate)]="user.rating" [starTemplate]="t" [readonly]="true" max="5">
        </ngb-rating>
    </div>
    <div>
        <button class="btn btn-primary" *ngIf="!isEditing" (click)="onClick()">Edit information</button>
        <button class="btn btn-primary" *ngIf="isEditing" (click)="saveChanges()">Save changes</button>
        <button class="btn btn-primary"  (click)="onShowOffer()">Show my offers</button>
        
    </div>

</form>

<div *ngIf="isShow">
    <button class="btn btn-primary" [routerLink]="['/createOffer',user.id]">Create new offer</button>
    <p>My OFFERS</p>
    <div *ngFor ="let offer of offers">
    <p>Offer number: {{offer.id}}</p>
    <p>Offer name: {{offer.name}}</p>
    <p>Offer price: {{offer.price}}</p>
    <p>Offer date: {{offer.date}}</p>
    <button class="btn btn-primary" [routerLink]="['/editOffer',offer.id]">Edit offer</button>
  </div>
</div>