<form class="container col-md-4">
    <h2>User Info</h2>

    <div class="form-group">
        <label for="firstName">First name</label>
        <input type="text" [disabled]="!isEditing" class="form-control" name="firstName" [(ngModel)]="user.firstName" />
    </div>
    <div class="form-group">
        <label for="firstName">Last name</label>
        <input type="text" [disabled]="!isEditing" class="form-control" name="lastName" [(ngModel)]="user.lastName" />
    </div>
    <div class="form-group">
        <label for="login">Login</label>
        <input type="text" class="form-control" name="login" [(ngModel)]="user.login" readonly/>
    </div>
    <div class="form-group">
        <label for="phone">Phone number</label>
        <input type="text" [disabled]="!isEditing" class="form-control" name="phone" [(ngModel)]="user.phoneNumber" placeholder="N/A"
        />
    </div>
    <div class="form-group">
        <label for="phone">Country</label>
        <input type="text" [disabled]="!isEditing" class="form-control" name="country" [(ngModel)]="user.country" placeholder="N/A"
        />
    </div>
    <div>
        <label>Rating</label>
        <ng-template #t let-fill="fill">
            <span class="star" [class.full]="fill === 100">
                <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
            </span>
        </ng-template>
        <ngb-rating [(rate)]="user.rating" [starTemplate]="t" [readonly]="true" max="5">
        </ngb-rating>
    </div>
    <div>
        <button class="btn btn-primary" *ngIf="!isEditing" (click)="onClick()">Edit info</button>
        <button class="btn btn-primary" *ngIf="isEditing" (click)="saveChanges()">Save</button>
        <button class="btn btn-light" *ngIf="isEditing" (click)="onClick()">Cancel</button>
        <button class="btn btn-primary" (click)="onShowOffer()">Show offers</button>
        <button class="btn btn-primary" (click)="onSkills()">Show skills</button>
    </div>
    <div *ngIf="isSkills">
        <h3><span class="badge badge-success" style="margin:0.1rem;" *ngFor="let skill of user.skills">{{skill.name}}</span></h3>
        <div class="form-group">
            <label for="firstName">Add skill</label>
            <input type="text" class="form-control" name="skillName" [(ngModel)]="addedSkill" />
            <button class="btn btn-primary" (click)="addSkill()">Add new skill</button>
        </div>
    </div>
</form>

<div *ngIf="isShow">
    <button class="btn btn-primary" [routerLink]="['/editOffer',0]">Create new offer</button>
    <h2>My offers</h2>
    <div class="row card-group">
        <div class="col-3" *ngFor="let offer of offers">
            <div class="card text-center">
                <div class="card-header">{{offer.name}}</div>
                <div class="card-body">
                    <p>Description: {{offer.description}}</p>
                    <!-- <p>User name: {{offer.user.firstName}} {{offer.user.lastName}}</p> -->
                    <p>Price: {{offer.price}}</p>
                    <p>Date: {{offer.date}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div>
    <p>My OFFERS</p>
    <div *ngFor ="let offer of offers">
    <p>Offer number: {{offer.id}}</p>
    <p>Offer name: {{offer.name}}</p>
    <p>Offer price: {{offer.price}}</p>
    <p>Offer date: {{offer.date}}</p>
    <button class="btn btn-primary" [routerLink]="['/editOffer',offer.id]">Edit offer</button>
  </div>
</div> -->