<main>
        <div class="col-md-8" style="border: 1px">
                <h2>{{offer.name}} offer Info</h2>
                <div>
                        <p>Offer number: {{offer.id}}</p>
                        <p> name: {{offer.name}}</p>
                        <p> price: {{offer.price}}</p>
                        <p> date: {{offer.date}}</p>
                        <p> description: {{offer.description}}</p>
                </div>
        </div>
        <div class="col-md-6">
                <h2>{{user.login}} user Info</h2>
                <div>
                        <p> id: {{user.id}}</p>
                        <p> name: {{user.firstName}}</p>
                        <p> last Name: {{user.lastName}}</p>
                        <p> phone: {{user.phoneNumber}}</p>
                        <p> country: {{user.country}}</p>
                        <p> rating: {{user.rating}}</p>
                </div>
        </div>

</main>