.star {
    position: center;
    display: inline-block;
    font-size: 2.5rem;
    color: #d3d3d3;
  }
  .full {
    color: blue;
  }
  .half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: blue;
  }
